{% extends 'base/base.html' %}
{% block content %}

<section class="ftco-section">
  <div class="container">
    <div class="row">

      {% for product in products %}
      <div class="col-md-3 mb-4">

        <div class="product text-center">

          <a href="{% url 'product-details' product.id %}">
            <img src="{{ product.photo.url }}" class="img-fluid" style="height:180px;object-fit:contain;">
          </a>

          <h5 class="mt-2">
            <a href="{% url 'product-details' product.id %}">
              {{ product.name }}
            </a>
          </h5>

          <p>₹{{ product.price }}</p>

        </div>

      </div>
      {% endfor %}

    </div>
  </div>
</section>

{% endblock %}