{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% static 'images/bg_1.jpg' as bg_image %}
    <div class="hero-wrap hero-bread" style="background-image: url('{{ bg_image }}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="{% url 'shop' %}" class="active">All</a></li>
              {% for ctg in category %}
    					<li><a href="#">{{ ctg.name }}</a></li>
              {% endfor %}
    				</ul>
    			</div>
    		</div>
    		<div class="row">
          {% if page_obj %}
          {% for product in page_obj %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="{% url 'product-details' product.id %}" class="img-prod"><img class="img-fluid" src="{{ product.photo.url }}" alt="{{ product.name }}">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="{% url 'product-details' product.id %}">{{ product.name }}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
	    						<p class="price"><span>₹{{ product.price }}</span></p>
	    					</div>
    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="{% url 'product-details' product.id %}" class="add-to-cart d-flex justify-content-center align-items-center text-center" title="View Details">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							<a href="{% url 'add-to-cart' product.id %}?next=shop" class="buy-now d-flex justify-content-center align-items-center mx-1" title="Add to Cart">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center" title="Add to Wishlist">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
          {% endfor %}
          {% else %}
          <div class="col-md-12">
            <p class="text-center">There are no products available at the moment!</p>
          </div>
          {% endif %}
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
                {% else %}
                <li><span><</span></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="active"><span>{{ num }}</span></li>
                {% else %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                {% else %}
                <li><span>></span></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>

	
{% endblock %}
